# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Variables de entorno / secretos
.env
.env.*

# Sistema operativo
.DS_Store
Thumbs.db

# Editores / IDEs
.vscode/
.idea/
data/*.csv
